<div class="container">
	<center>
		<div class="categories_div">
			<%= dv_all_categories %><BR>
			<a href="" style="color:#da4038;">DONATION CENTER</a>
		</div>
	</center>
</div>
<div class="galry row">
	<div class="content">
		GET YOUR INVITE TO<br>
		THE GREEN THUMB’S BRAND<br>
		NEW MARKETPLACE! <span class="beta">BETA</span><br>
	</div>
</div>
<div class="dv-deals" align="center">
	<span class="caption">thumpsup deals</span>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 item">
				<img src="/assets/D01.jpg">
			</div>
			<div class="col-xs-3 item">
				<img src="/assets/D02.jpg">
			</div>
			<div class="col-xs-3 item">
				<img src="/assets/D03.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 item">
				<img src="/assets/D04.jpg">
			</div>
			<div class="col-xs-3 item">
				<img src="/assets/D05.jpg">
			</div>
			<div class="col-xs-3 item">
				<img src="/assets/D06.jpg">
			</div>
		</div>
	</div> 
</div>